html {
  box-sizing: border-box;
  font-family: 'PT Serif', serif;
  background-color: #c9b5ab;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  color: #8f2440;
  font-family: 'PT Sans', sans-serif;
}

blockquote {
  font-style: italic;
  text-align: center;
  font-size: 1.5rem;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
}

figure + p {
  font-weight: bold;
}

h2 + p {
  font-weight: bold;
}

h1, h2 {
  font-family: 'PT Sans', sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
  line-height: 1.5;
}

nav ol li a {
  color: #8f2440;
  list-style-type: none;
  text-decoration: none;
}

nav ol li a:hover {
  color: #3f1622;
  text-decoration: underline;
}

footer a {
  list-style-type: none;
  text-decoration: none;
  color: #8f2440;
}

footer a:hover {
  text-decoration: underline;
  color: #3f1622;
}
